[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
isort = "*"
pytest = "*"

[packages]
protobuf = "*"
jinja2 = "*"

[requires]
python_version = "3.7"

[scripts]
generate = "python betterproto/tests/generate.py"
test = "pytest ./betterproto/tests"
